.root {
    -fx-background-color: #ffffff;
    -fx-font-family: Lexend, JetBrains Mono;
}

/* Style for TextFields */
.text-field {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-border-color: #020202;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5;
}

/* Style for PasswordFields */
.password-field {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-border-color: #020202;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5;
}

/* Style for Buttons */
.button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-border-color: #020202;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #e2e2e2;
    -fx-text-fill: #000000;
}

.button:pressed {
    -fx-background-color: #d0d0d0;
    -fx-text-fill: #0033ff;
}

.button:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* Style for Labels */
.label {
    -fx-text-fill: #000000;
}