.root {
    -fx-background-color: #ffffff;
    -fx-font-family: Lexend, JetBrains Mono;
}

/*? Label Style */
.Label {
    -fx-text-fill: #000000;
    -fx-font-size: 12;
}

/*? Button Style */
.Button {
    -fx-background-color: #ffffff;
    -fx-alignment: center;
    -fx-padding: 2px;
    -fx-font-size: 10;
    -fx-text-fill: #000000;
    -fx-border-color: #020202;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.Button:hover {
    -fx-background-color: #e2e2e2;
    -fx-text-fill: #000000;
}

.Button:pressed {
    -fx-background-color: #d0d0d0;
    -fx-text-fill: #0033ff;
}

.Button:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


/*? FILE BOX INDIVIDUAL BOX INSIDE OF THE FILE MANAGER VBOX */
/*!  THIS IS DYNAMIC BTW SO DO NOT CHANGE THE NAME */
.file-box {
    /* -fx-text-fill: #000000;
    -fx-font-size: 15; */

    -fx-background-color: #ffffff;
    -fx-border-color: #020202;
    -fx-border-radius: 5;
    -fx-background-radius: 5;

    -fx-padding: 5px 5px 5px 5px; /* top, right, bottom, left */ 
}

.file-box:hover {
    -fx-background-color: #e2e2e2;
    -fx-text-fill: #000000;
}

.file-box:pressed {
    -fx-background-color: #d0d0d0;
    -fx-text-fill: #0033ff;
}

.file-box:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/*? Line Style */
.Line {
    -fx-stroke: #000000;
    -fx-stroke-width: 1;
    -fx-stroke-line-cap: round;
    -fx-stroke-line-join: bevel;
}

.Default {
    -fx-background-color: #ffffff;
    -fx-border-color: #020202;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

/*? FILE MANAGER VBOX (FILE CONTAINER) */
.FileContainer {
    /*     -fx-top-anchor: 10.0;
        -fx-bottom-anchor: 10.0;
        -fx-left-anchor: 10.0;
        -fx-right-anchor: 10.0; */
    
        -fx-background-color: #ffffff;
    /*     -fx-border-color: #020202;
        -fx-border-radius: 5;
        -fx-background-radius: 5; */
    
        -fx-padding: 5px 5px 5px 5px; /* top, right, bottom, left */
}