.left-panel-vbox {
    -fx-background-color: #DBDBDB;

    -fx-background-radius: 5;
    -fx-border-radius: 5;

    -fx-border-color: #000000;
    -fx-border-width: 1;
}

.main-back-ground {
    -fx-background-color: #FFFFFF;

    -fx-border-color: #000000;
    -fx-border-width: 1;
}

.background2 {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;

    -fx-border-color: #000000;
    -fx-border-width: 1;
}

.file-hbox {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;

    -fx-border-color: #000000;
    -fx-border-width: 1;
}

.files-details-hbox {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;

    -fx-border-color: #000000;
    -fx-border-width: 1;
}

.box {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 1;
}

.search-bar-textfield {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;

    -fx-border-color: #000000;
    -fx-border-width: 1;
}

.profile-vbox {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;

    -fx-border-color: #000000;
    -fx-border-width: 1;
}

.function-button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;

    -fx-border-color: #000000;
    -fx-border-width: 1;
}

.function-button:hover {
    -fx-background-color: #8a8a8a;
    -fx-text-fill: #000000;
}

.function-button:pressed {
    -fx-background-color: #828282;
}

.function-button:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}   