.background {
    -fx-background-color: rgb(255, 255, 255);
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.button {
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 5;
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-radius: 5;
    -fx-border-width: 1px;
}

.button:hover {
    -fx-background-color: rgb(225, 225, 225);
    -fx-text-fill: #000000;
}

.button:pressed {
    -fx-background-color: rgb(212, 212, 212);
}

.button:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}